.step__animation-container {
  width: 100%;
  max-width: 640px;
  .step__animation {
    display: flex;
    justify-content: center;
  }
}

.step__animation, .animation-morning{
  width: 100%;
}

.animation-boil, .animation-stir, .animation-love {
  width: 92%;
}

.animation-grind, .animation-pour {
  width: 72%;
}

.animation-bloom {
  width: 50%
}
