.step__animation-container {
  width: 100%;
  max-width: 640px;
  .step__animation {
    display: flex;
    justify-content: center;
  }
}

.step__animation, .animation-morning {
  width: 100%;
}

.animation-boil, .animation-grind {
  width: 92%;
}
.animation-bloom {
  width: 50vw;
}

.animation-pour {
  width: 90vw;
}

.animation-stir {
  width: 90vw;
}

.animation-love {
  width: 90vw;
}
