*,*:before,*:after {
  box-sizing:border-box;
  transition:.25s ease-in-out;
}

*::selection {
  background: $red;
  color: $white;
}

form {
  line-height:60px;
  color:white;
  text-shadow: 4px 4px 16px $opaque-black;
  font-weight: 600;
  font-size: 2.5rem;
  .input-container {
    border-bottom:2px dashed $red;
    color: $red;
    padding:0 6px;
    margin-left:-6px;
    margin-right:-6px;
    display:inline-block;
    position:relative;
    text-shadow: none;
    &.no-overflow {d
      .input {
        max-width:100%;
        input {
          max-width:100%;
        }
      }
    }
    &:hover {
      border-bottom:2px dashed $red;
      color: $red;
      opacity: 0.8;
      cursor:pointer;
    }
    &.active {
      z-index:5000;
      border-bottom:1px dashed $red;
      color: $red;
      cursor:default;
      &:before {
        content:'';
        display:block;
        background-color:rgba(0,0,0,.3);
        position:fixed;
        z-index:0;
        width:100%;
        height:100%;
        left:0;
        top:0;
      }
      .input {
        visibility:visible;
        opacity:1;
      }
    }
    .newOption {
      padding:6px 46px 6px 6px;
      background:$white;
      position:relative;
      &:hover {
        background: $red;
        color:$white;
        &:after {
          color:$white !important;
        }
      }
      &.selected {
        &:after {
          content:'\f00c';
          font-family:FontAwesome;
          color:$red;
          display:block;
          top:0;
          right:0;
          height:72px;
          width:46px;
          font-size:20px;
          text-align:center;
          line-height:72px;
          position:absolute;
        }
      }
    }
    .placeholder {
      position:relative;
      z-index:1;
    }
    .input {
      display:block;
      visibility:hidden;
      position:absolute;
      z-index:2;
      top:0;
      left:0;
      opacity:0;
    }
  }
}
